* {
    box-sizing: border-box;
}

body {

    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;

}

a:link {
    text-decoration: none;
}

.v-header {

    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

}

.container {

    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #f0909b;
    opacity: 0.75;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    text-decoration: none;
}

.section {
    padding: 20px 0;
}

.section-B {
    background: #333;
    color: #fff;

}

.btn {
    background: #e8468d;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;

}

.font {
    font-family: 'Merriweather', serif;
    letter-spacing: 1.5px;
    font-size: 35px;
}

.link:visited {
    color: rgb(185, 97, 149);
}

.size {
    font-size: 19px;
}